{% extends "padre.html" %}
{% load static %}
{% block contenido %}
    <section class="py-5 bg-light text-center">
      <div class="container">
        <p class="lead mb-0">
          Soy Luis, estudiante de segundo año de Ingeniería en Sistemas en la UTN. Estoy tomando cursos de Python y SQL. El proyecto final de mi curso de Python consiste en diseñar una página web con Django, entonces así es como terminé creando este proyecto que simula una página web estilo blog de un Instituto Tecnológico ubicado en la ciudad de Mercedes.
        </p>
      </div>
    </section>
{% endblock %}