{% extends "padre.html" %}
{% block contenido %}
<div class="container mt-5">
    <h2 class="mb-4">Agregar Alumno</h2>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <form method="post" class="row g-3">
        {% csrf_token %}

        <div class="col-md-6">
            <label for="nombre" class="form-label">Nombre y Apellido:</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required>
        </div>

        <div class="col-md-6">
            <label for="camada" class="form-label">Camada:</label>
            <input type="number" class="form-control" id="camada" name="camada" required>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </form>
</div>
{% endblock %}
