{% extends "padre.html" %}

{% block contenido %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow rounded-4 border-0">
        <div class="card-body text-center">
          <h2 class="mb-3">Contraseña actualizada</h2>
          <p>Tu contraseña se cambió correctamente</p>
          <a href="{% url 'inicio' %}" class="btn btn-outline-secondary mt-3">Volver a inicio</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}